.playergotobuttons {
  margin-left: auto;
  margin-right: auto;
  row-gap: 20%;
}
.playerundobutton {
 margin-right: 10px;
}
.playerredobutton {
  margin-left: 10px;
}
.gotoeditorbutton {
  margin-top: 20px;
  margin-left: 40px;
}
.fullscreenbutton {
  margin-top: 20px;
  margin-right: 40px;
}
.playertools {
  width: fit-content;
  background-color: transparent;
  display: flex;
  position: fixed;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.playertools.visible {
  opacity: 1;
  visibility: visible;
}
.playertitle {
  padding-top: 20px;
  padding-left: 20px;
  color: #FBFBFB;
  font-size: 24px;
  font-family: Montserrat;
  margin-right: auto;
  
}
.playerheader {
  display: flex;
  height: 75px;
  width: 100%;
  background-color: #252422;
  position: absolute;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.visible {
  opacity: 1;
  visibility: visible;
}