* {
  box-sizing: border-box; /* Учитывает padding и border внутри размера блока */
}
.slideslist {
  padding-top: 15px;
  padding-right: 7px;
  display: flex;
  flex-direction: column; /* Располагаем элементы по вертикали */

  align-items: center;
  flex-grow: 1; /* Растягиваем контейнер */
  width: 100%;
  height: 100%;
  overflow-y: scroll; /* Прокрутка, если необходимо */
  box-sizing: border-box;
  background-color:rgb(206, 223, 255);
  padding-left: 1px;
}

.slideContainer {
  width: min-content;
  height: min-content;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}


.numberslide {
  padding-right: 5px;
  padding-left: 5px;
  color: #1E2A78;
  font-family: 'Impact';
}
.slideslist::-webkit-scrollbar {
    width: 6px;             
    height: 6px;
  }
  
  .slideslist::-webkit-scrollbar-track {
    background: transparent;       
  }
  
  .slideslist::-webkit-scrollbar-thumb {
    background-color: #1E2A78;
    border-radius: 20px;      
  }

  
  .slideContainer:active,
.slideContainer:focus {
  outline: none; /* Убираем браузерный контур, чтобы стилизовать фокус самостоятельно */
  transform: none; /* Отключаем масштабирование, если оно есть */
  box-shadow: 0px 5px 0px 5px rgba(0, 25, 122, 0.5); /* Добавляем тень для визуального акцента */
  
  background-color: rgba(52, 152, 219, 0.1); /* Изменяем фон для выделения */
  transition: all 0.2s ease; /* Добавляем плавный переход между состояниями */
  border-radius: 20px;
}
.slideContainer:hover {
  background-color: #1E2A78;
}
