* {
  box-sizing: border-box;
}

.slideslist {
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  background-color: #2F2F2F;
}

.slideslist::-webkit-scrollbar {
  width: 4px; 
}

.slideslist::-webkit-scrollbar-thumb {
  width: 4px; 
  background-color: #444444;
  border-radius: 10px; 
 
}
.slideslist::-webkit-scrollbar-thumb:hover{
  
  background-color: #4d4d4d;
  
}
.numberslide {
  overflow: hidden;
  width: 30px;
  color: #FBFBFB;
  display: flex;
  align-items: center;
  font-family:sans-serif;
  display: flex;
}


.slideContainer {
  margin-top: 8px;
  flex-shrink: 0;
  width: min-content;
  height: min-content;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
}
.slideContainer:hover {
  cursor: pointer;
  border: 2px solid #b44a20b2;
  box-shadow: 0 0 10px #EB5E28B2;

}
.slideContainer:active {
  transform: scale(1.005);
}
.slideContainer.selected {
  border: 2px solid #EB5E28B2;
}
.slideContainer.selected:hover {
  border: 2px solid #EB5E28B2;
  box-shadow: 0 0 0px #EB5E28B2;
}