* {
  box-sizing: border-box;
}
.slideslist {
  margin-left: auto;
  margin-right: auto;
  padding-top: 13px;
  padding-bottom: 10px;
  display: flex;
  width: fit-content;
  max-width: 100%;    
  overflow-x: auto;
  box-sizing: border-box;
  padding-left: 10px;
  background-color: transparent;
}


.slideContainer {

  box-shadow: 0 0 5px rgba(18, 37, 164, 0.5);
  margin-right: 10px;
  box-sizing: border-box;

  overflow: hidden;
  border: 4px solid transparent;
  border-radius: 10px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.slideContainer.selected {
  border: 4px solid #1E2A78;
  transform: scale(1.02);
}
.slideContainer:hover {
  border: 4px solid #ad8ff8;
}
.slideContainer.selected:hover {
  border: 4px solid #1E2A78; 
}


.slideslist::-webkit-scrollbar {
  height: 8px;
  
}

.slideslist::-webkit-scrollbar-thumb {
  width: 0;
  background-color: #1E2A78;
  border-radius: 20px;
}



.slideContainer.selected:hover {
  border: 4px solid #1E2A78;
}