.title {
    font-size: 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: #1E2A78;
    padding-left: 10px;
    border: 0;
  }
.toolbar {
    display: flex;
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: flex-start;
    gap:10px;
    
    background-color: #1E2A78;
}
.toolbarbutton {
    padding: 7px;
    background-color: transparent;
}