* {
  user-select: none;
}
.playercontainer {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 100vh;
  background: #252422;
  overflow: hidden;
}

.slideContainer {
  margin: auto;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  border-radius: 16px;
  box-sizing: border-box;
  border: 4px solid #686868;
}

:-webkit-full-screen .slideContainer {
  border: none; 
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.playerviewslideslist {
  max-width: '100%';
}