.workspace {
  padding: 10px;
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollcontainer {
  overflow: hidden;
  max-height: 100%;
  border: 4px solid #686868;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(18, 37, 164, 0.5);

}
