* {
  box-sizing: border-box;
}

.slideslistcontainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2F2F2F;
  padding-right: 26px;
  padding-left: 16px;
}

.slideslist {
  flex-grow: 1;
  
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
.addslidebutton {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 30px;
  margin-right: auto
}
.removeslidebutton {
  margin-top: auto;
  margin-right: 15px;
  margin-bottom: auto;
}
.slideContainer {
  margin-top: 8px;
  flex-shrink: 0;
  width: min-content;
  height: min-content;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
}

.slideContainer.hovered {
  box-shadow: 0 0 10px #EB5E28B2;
  transform: scale(1.02);
}

.slideContainer.selected {
  border: 2px solid #EB5E28B2;
  
}
.slideContainer:hover {
  cursor: pointer;

  border: 2px solid #b44a20b2;
  box-shadow: 0 0 10px #EB5E28B2;

}
.slideContainer:active {
  transform: scale(1.005);
}
.slideContainer.selected:hover {
  border: 2px solid #EB5E28B2;
  box-shadow: 0 0 0px #EB5E28B2;
}
.numberslide {
  overflow: hidden;
  width: 28px;
  color: #FBFBFB;
  display: flex;
  align-items: center;
  font-family:sans-serif;
  display: flex;
}

.slideslist::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

.slideslist::-webkit-scrollbar-track {
  background: transparent;
}

.slideslist::-webkit-scrollbar-thumb {
  background-color: #484848;
  border-radius: 20px;
}
.slideslist::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
  border-radius: 20px;
}

.dragging {
  border: 2px solid #EB5E28B2;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 16px;
}

.draggingGroup {
  pointer-events: none;
  z-index: 999;
  transform: translate(-50%, -50%);
}