* {
  box-sizing: border-box; 
}
.slideslist {
  padding-top: 15px;
  padding-right: 7px;
  display: flex;
  flex-direction: column; 
  box-shadow: 0 0 10px rgba(18, 37, 164, 0.5);
  align-items: center;
  flex-grow: 1; 
  width: 100%;
  height: 100%;
  overflow-y: scroll; 
  box-sizing: border-box;
  background-color:rgb(206, 223, 255);
}

.slideContainer {
  flex-shrink: 0;
  width: min-content;
  height: min-content;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  border: 4px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(18, 37, 164, 0.5);

  transition: box-shadow 0.2s ease, transform 0.1s ease;
}
.slideContainer.hovered {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}
.slideContainer.selected {
  border: 4px solid #1E2A78;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform:scale(1.02)
}

.numberslide {
  padding-right: 5px;
  padding-left: 5px;
  color: #1E2A78;
  font-family:'Impact';
  display: flex;
}
.slideslist::-webkit-scrollbar {
    width: 6px;             
    height: 6px;
  }
  
  .slideslist::-webkit-scrollbar-track {
    background: transparent;       
  }
  
  .slideslist::-webkit-scrollbar-thumb {
    background-color: #1E2A78;
    border-radius: 20px;      
  }

.slideContainer:active {
  transform: rotate(3deg);
}
.slideContainer:hover {
  border: 4px solid #d3d1ff;
}
.slideContainer.selected:hover {
  border: 4px solid #1E2A78; 
}.dragging {

  border: 4px solid #1E2A78; 
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.draggingGroup {
  pointer-events: none;
  z-index: 999;
  transform: translate(-50%, -50%);
}